@import "./variables.scss";

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  section {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 80vw;
    padding: 30px 10px;
    flex-direction: column;
  }
  .title {
    color: $titleTextColor;
    font-weight: 600;
  }
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    &-outline {
      border: 1px solid $titleTextColor;
      color: $titleTextColor;
      font-weight: 600;
      background-color: white;
    }
    &-fulfil {
      color: white;
      border: 0px;
      font-weight: 600;
      background-color: $titleTextColor;
    }
    &:hover {
      filter: brightness(85%);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
